@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root {
  --balck: #000000;
  --white: #ffffff;
  --balckMat: #28282a;
  --buttonBlack: #454548;
  --deepPurple: #4527a0;
  --ligthPurple: #673ab7;

  --borderBlack: 1px solid #000000;
  --bordeerWhite: 1px solid #ffffff;

  --poppins: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--balck);
  color: var(--white);
  font-family: var(--poppins);
}

.btn {
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.2s linear;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hide-footer {
  display: none;
}

header {
  padding-top: 10px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  height: 80vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .display {
  width: 65%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.display h4 {
  font-family: var(--poppins);
  font-size: 40px;
  color: var(--ligthPurple);
}

.display h5 {
  font-size: 20px;
  color: var(--white);
}

section .table {
  height: 85%;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(6, 1.5fr);
  grid-template-rows: repeat(7, 1fr);
}

footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
}

.footer-buttons a {
  margin: 15px 0px;
  height: 70px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  color: var(--white);
  font-family: var(--poppins);
  box-shadow: 4px 4px 6px var(--balck);
  font-size: 16px;
  font-weight: 500;
}

.footer-buttons a:hover {
  transform: scale(0.98);
}

.classroom {
  background-color: var(--buttonBlack);
  border: 1px solid var(--buttonBlack);
}

.meet {
  background-color: var(--ligthPurple);
  border: 1px solid var(--ligthPurple);
}

footer span {
  color: var(--ligthPurple);
}

.footer-main {
  width: 65%;
  background-color: var(--balckMat);
  border-radius: 6px 6px 0px 0px;
}

footer .heading {
  background-color: var(--ligthPurple);
  border-radius: 6px 6px 0px 0px;
  box-shadow: 0px 7px 10px var(--balck);
  padding: 0px 30px;
  height: 75px;
  display: flex;
  align-items: center;
}

footer .heading h2 {
  font-size: 30px;
  text-transform: uppercase;
}

footer .body {
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

footer .body h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 55px;
  text-transform: capitalize;
}

.half-border-topleft {
  border-bottom: var(--bordeerWhite);
  border-top: none;
  border-right: var(--bordeerWhite);
  border-left: none;
}

.half-border-topright {
  border-bottom: var(--bordeerWhite);
  border-top: none;
  border-left: var(--bordeerWhite);
  border-right: none;
}

.half-border-bottomleft {
  border-top: var(--bordeerWhite);
  border-bottom: none;
  border-right: var(--bordeerWhite);
  border-left: none;
}

.half-border-bottomright {
  border-top: var(--bordeerWhite);
  border-bottom: none;
  border-left: var(--bordeerWhite);
  border-right: none;
}

.quater-border-up {
  border-left: var(--bordeerWhite);
  border-bottom: var(--bordeerWhite);
  border-right: var(--bordeerWhite);
  border-top: none;
}
.quater-border-left {
  border-top: var(--bordeerWhite);
  border-bottom: var(--bordeerWhite);
  border-right: var(--bordeerWhite);
  border-left: none;
}
.quater-border-down {
  border-left: var(--bordeerWhite);
  border-top: var(--bordeerWhite);
  border-right: var(--bordeerWhite);
  border-bottom: none;
}
.quater-border-right {
  border-left: var(--bordeerWhite);
  border-bottom: var(--bordeerWhite);
  border-top: var(--bordeerWhite);
  border-right: none;
}

.full-border {
  border: var(--bordeerWhite);
}

.hover:hover {
  transition: all ease 0.3;
  background-color: var(--ligthPurple);
  color: var(--white);
}

@media screen and (max-width: 1000px) {
  .btn {
    font-size: 14px;
    font-weight: 400;
  }

  span {
    display: none;
  }

  footer span {
    display: contents;
  }

  header {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: var(--white);
  }

  .main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  section {
    height: 70vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }

  section .display {
    width: 65%;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .display h4 {
    font-family: var(--poppins);
    font-size: 30px;
    color: var(--ligthPurple);
  }

  .display h5 {
    font-size: 18px;
    color: var(--white);
  }

  section .table {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 0.5fr);
  }

  /* Footer */

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .footer-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-buttons a {
    margin: 0px 10px 15px 10px;
    height: 50px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px var(--balck);
    color: var(--white);
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 500;
  }

  .footer-buttons a:hover {
    transform: scale(0.98);
  }

  .classroom {
    background-color: var(--buttonBlack);
    border: 1px solid var(--buttonBlack);
  }

  .meet {
    background-color: var(--ligthPurple);
    border: 1px solid var(--ligthPurple);
  }

  footer span {
    color: var(--ligthPurple);
  }

  .footer-main {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--balckMat);
  }

  footer .heading {
    background-color: var(--ligthPurple);
    /* border-radius: 10px 10px 0px 0px; */
    padding: 0px 30px;
    height: 75px;
    display: flex;
    align-items: center;
  }

  footer .heading h2 {
    font-size: 25px;
    text-transform: uppercase;
  }

  footer .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .body h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    text-transform: capitalize;
  }

  /* Buttons */

  .half-border-topleft {
    border-bottom: var(--bordeerWhite);
    border-top: none;
    border-right: var(--bordeerWhite);
    border-left: none;
  }

  .half-border-topright {
    border-bottom: var(--bordeerWhite);
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .half-border-bottomleft {
    border-top: none;
    border-bottom: none;
    border-right: var(--bordeerWhite);
    border-left: none;
  }

  .half-border-bottomright {
    /* border-top: var(--bordeerWhite);
    border-bottom: none;
    border-left: var(--bordeerWhite);
    border-right: none; */
    border: none;
  }

  .quater-border-up {
    border-left: none;
    border-bottom: var(--bordeerWhite);
    border-right: none;
    border-top: none;
  }
  .quater-border-left {
    border-top: none;
    border-bottom: none;
    border-right: var(--bordeerWhite);
    border-left: none;
  }
  .quater-border-down {
    /* border-left: var(--bordeerWhite);
    border-top: var(--bordeerWhite);
    border-right: var(--bordeerWhite);
    border-bottom: none; */
    border: none;
  }
  .quater-border-right {
    /* border-left: var(--bordeerWhite);
    border-bottom: var(--bordeerWhite);
    border-top: var(--bordeerWhite);
    border-right: none; */
    border: none;
  }

  .full-border {
    /* border: var(--bordeerWhite); */
    border: none;
  }
}
